Makefile.in
Makefile
.deps/
.libs/
*.gir
*.typelib
*.o
*.lo
*.la
*.bak
/aclocal.m4
/autom4te.cache/
/config.h.in
/config.h
/config.log
/config.status
/config/
/configure
/m4/
/groonga-gobject.pc
/libtool
/stamp-h1
/doc/reference/html/
/doc/reference/tmpl/
/doc/reference/xml/
/doc/reference/version.xml
/doc/reference/*.stamp
/doc/reference/gtk-doc.make
/doc/reference/groonga-gobject-decl-list.txt
/doc/reference/groonga-gobject-decl.txt
/doc/reference/groonga-gobject-sections.txt
/doc/reference/groonga-gobject-undeclared.txt
/doc/reference/groonga-gobject-undocumented.txt
/doc/reference/groonga-gobject-unused.txt
/doc/reference/groonga-gobject.args
/doc/reference/groonga-gobject.hierarchy
/doc/reference/groonga-gobject.interfaces
/doc/reference/groonga-gobject.prerequisites
/doc/reference/groonga-gobject.signals
/doc/reference/groonga-gobject.types
/packages/rpm/fedora/*.spec
