Makefile.in
Makefile
.deps/
.libs/
*.gir
*.typelib
*.o
*.lo
*.la
/aclocal.m4
/autom4te.cache/
/config.h.in
/config.h
/config.log
/config.status
/config/
/configure
/m4/
/groonga-gobject.pc
/libtool
/stamp-h1
